#ignore all files
QtProject.conf
*/
kwalletrc
#except
!btop/
!zsh/
!hypr/
!waybar/
!scripts/
!nwg-look/
!kitty/
!gtk-3.0/
!gtk-4.0/
!fish/
!redshift/
!gammastep.conf
!gammastep/
!pavucontrol.ini
!rofi/
!wallpapers/
